@model IEnumerable<ChatCounseling.Models.Message>

@{
    ViewData["Title"] = "ChatRoom";
}

<h1>گفت بگو</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.User.IsAdmin)
                    {
                        <p class="text-end" style="color:red">@item.Body</p>
                    }
                    else
                    {
                        <p class="text-start">@item.Body</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (ViewBag.CanSendMessage)
{
    <form asp-action="SendMessage" method="post" class="form-inline">
        <div class="row">
            <div class="form-group col-10">
                <textarea class="form-control" type="text" name="body" id="body"></textarea>
            </div>


            <input type="hidden" name="chatRoomId" id="chatRoomId" value="@ViewBag.ChatRoomId" />


            <div class="form-group col-2">
                <input class="btn btn-primary" type="submit" value="Send" />
            </div>
        </div>
    </form>
}else{
    <a class="btn btn-primary" asp-action="Payment">خرید اشتراک برای ارسال پیام</a>
}