@model IEnumerable<ChatCounseling.Models.Message>

@{
    ViewData["Title"] = "ChatRoom";
}

<h1>گفت بگو</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.User.IsAdmin)
                    {
                        <p style="color:red">@item.Body</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Body)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="SendMessage" method="post">
    <textarea type="text" name="body" id="body"></textarea>
    <input type="hidden" name="chatRoomId" id="chatRoomId" value="@ViewBag.ChatRoomId"/>
    <input type="submit" value="Submit"/>
</form>
