<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatCounseling</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChatCounseling.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <p class="text-center" style="margin:10px; padding:10px;">
            سلام به سایت گفت بگو خوش اومدین امیدوارم بهترین تجربه رو از سایت ما داشته باشید
            اینجا هرچه دل تنگت می‌خواهد بگو
            اینجا قراره باهم مشغله های فکرمون رو بگیم و فکرمون رو خالی کنیم
            اینجا هیچکس تورو  قضاوت نمیکنه
            فقط حرفت رو میشنوه و جواب هایی رو برات میگه که بتونی مشکلات و دردل هاتو بهتر مدیریت کنی
            هر سوالی هر چیزی تو این سایت میتونه گفته بشه از مشکلات روانشناسی و ارتباط با دیگران تا مشکلات جسمی و جنسی که هرکدوم راه حل و کارشناس خودش رو داره
            باید بدونین که شما ناشناس حرف میزنید.
            پس بگو بدون ترس بدون سانسور .

            اینجا کارشناس فقط حرفت رو میشنوه و اگه نیاز داشته باشی راه حلی رو بهت میگه که حالت رو عوض کنه

            نه رو در رو هستش که خجالت بکشی نه قراره کسی اینو بدونه و با خبر باشه ازش فقط تویی که مغزت و فکرت برای ما ارزش داره و میخواییم که حالت خوب باشه
            پس بگو هرچی که دوس داری
        </p>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
